/* #region Utilities */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --zoom-background: rgba(0, 0, 0, 1);
  --zoom-unsername_background: rgba(0, 0, 0, 0.5);
  --zoom-light: rgba(74, 74, 74, 1);
  --zoom-dark: rgba(34, 34, 34, 1);
  --zoom-lighter: rgba(255, 255, 255, 1);
  --zoom-end_meeting: rgba(255, 0, 0, 1);
  --zoom-share_screen: rgba(75, 200, 0, 1);
}

.d-flex {
  display: flex;
  align-items: center;
}

.column_button {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  font-size: 1.5rem;
}

/* #endregion Utilities */

/* #region Common rules */
body {
  font-family: sans-serif;
}

img {
  max-width: 100%;
  object-fit: cover;
  display: inline-block;
}

button {
  background-color: var(--zoom-light);
  color: var(--zoom-lighter);
  border-style: none;
  padding: 0.3rem;
  border-radius: 0.3rem;
}

.button_label {
  padding: 0.2rem;
}

.column_button_label {
  font-size: 0.8rem;
}

.fa-share-from-square {
  color: var(--zoom-share_screen);
}

/* #endregion Common rules */

/* #region Main */

#site_main {
  background-color: grey;
  height: 90vh;
  overflow-y: scroll;
}

.view_buttons {
  justify-content: flex-end;
  gap: 0.2rem;
  padding: 0.2rem 0.2rem 2rem 0;
}

/* #region Conference room */

.container {
  width: 95%;
  max-width: 1500px;
  ;
  margin: auto;
}

.row {
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -0.2rem;
  margin-right: -0.2rem;
}

.col {
  width: calc((100% / 12) * 1.7);
  padding: 0.3rem 0.2rem;
}

.webcam_section {
  position: relative;
}

.user_name {
  background-color: var(--zoom-unsername_background);
  color: var(--zoom-lighter);
  font-size: 0.8rem;
  position: absolute;
  top: 77%;
  left: 0%;
  padding: 0.3rem;
  gap: 0.5rem;
}

/* #endregion Conference room */

/* #region Action Bar */

.action_bar {
  color: var(--zoom-lighter);
  height: 10vh;
  background-color: var(--zoom-dark);
  justify-content: space-between;
}

.audio_video_icons {
  gap: 0.5rem;
}

.manage_conference_icons {
  gap: 1.5rem;
}

.audio_video_icons {

  padding-left: 1rem;
}

.end_meeting {
  height: 100%;
}

.end_meeting_button {
  color: var(--zoom-end_meeting);
  height: 100%;
  padding: 1rem;
  border-radius: 0;
}

/* #endregion Action Bar */

/* #endregion Main */