* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px dashed; */
}

:root {
  --zoom-site_background: rgba(0, 0, 0, 1);
  --zoom-unsername_background: rgba(0, 0, 0, 0.2);
  --zoom-light: rgba(34, 34, 34, 1);
  --zoom-lighter: rgba(255, 255, 255, 1);
  --zoom-end_meeting: rgba(255, 0, 0, 1);
  --zoom-share_screen: rgba(75, 200, 0, 1);
}

body {
  font-family: sans-serif;
}

img {
  max-width: 100%
}

/* #region Main */

#site_main {
  background-color: grey;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.conference_room {
  width: 90%;
  margin: auto;
  padding: 4rem 0 2rem 0;
  flex-grow: 1;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}

.col {
  width: calc((100% / 12) * 1.7);
  padding: 0.5rem;
}

.webcam_section {
  position: relative;
}

.user_name {
  display: flex;
  background-color: var(--zoom-unsername_background);
  color: var(--zoom-lighter);
  font-size: 0.8rem;
  ;
  position: absolute;
  top: 80%;
  left: 0%;
  padding: 0.3rem;
  gap: 0.5rem;
}

/* #region Action Bar */

.action_bar {
  background-color: var(--zoom-light);
  height: 150px;
}

/* #endregion Action Bar */

/* #endregion Main */